// SPDX-License-Identifier: GPL-2.0+
/*
 * dts file for Xilinx ZynqMP ZCU102 Rev1.0
 *
 * (C) Copyright 2016 - 2018, Xilinx, Inc.
 *
 * Michal Simek <michal.simek@xilinx.com>
 */

#include "zynqmp-zcu102-revB.dts"

/ {
	model = "ZynqMP ZCU102 Rev1.0";
	compatible = "xlnx,zynqmp-zcu102-rev1.0", "xlnx,zynqmp-zcu102", "xlnx,zynqmp";
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;


		rproc_0_fw_reserved: rproc@3ed000000 {
			compatible = "rproc-prog-memory";
			no-map;
			reg = <0x0 0x3ed00000 0x0 0x40000>;
		};
		rproc_0_dma_reserved: rproc@3ed400000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x0 0x3ed40000 0x0 0x80000>;
		};

/*
		rproc_0_dma_reserved: rproc@3ed000000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x0 0x3ed00000 0x0 0x100000>;
		};
*/
	};

	firmware {
		zynqmp_firmware: zynqmp-firmware {
			compatible = "xlnx,zynqmp-firmware";
			method = "smc";
		};
	};

	amba {
		zynqmp-r5-remoteproc@0 {
			compatible = "xlnx,zynqmp-r5-remoteproc-1.0";
			reg = <0x0 0xFFE00000 0x0 0x10000>,
				<0x0 0xFFE20000 0x0 0x10000>,
				<0x0 0xff340000 0x0 0x100>;
			reg-names = "tcm_a", "tcm_b", "ipi";
			dma-ranges;
			core_conf = "split0";

			memory-region = <&rproc_0_fw_reserved>,
					<&rproc_0_dma_reserved>;

/*
			memory-region = <&rproc_0_dma_reserved>;
*/
			tcm-pnode-id = <0xf>, <0x10>;
			rpu-pnode-id = <0x7>;
			interrupt-parent = <&gic>;
			interrupts = <0 29 4>;
/*
			#stream-id-cells = <1>;
			iommus = <&smmu 0x800>;
*/
		} ;
	};
};

&smmu {
	status = "okay";
};

&eeprom {
	#address-cells = <1>;
	#size-cells = <1>;

	board_sn: board-sn@0 {
		reg = <0x0 0x14>;
	};

	eth_mac: eth-mac@20 {
		reg = <0x20 0x6>;
	};

	board_name: board-name@d0 {
		reg = <0xd0 0x6>;
	};

	board_revision: board-revision@e0 {
		reg = <0xe0 0x3>;
	};
};
